*{
    margin: 0;
    padding: 0;
}

/*--Header part css--*/

.header{
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    width: 100%;
    height: 905px;

}
.header-text{
     text-align: end;
     padding: 30px;
     position: absolute;
     width: 420px;
     height: auto;
     margin-left: 900px;
}
.header-title{
    font-size: 45px;
    color: white;
}
.header-descriptions{
    font-size: 18px;
    margin-top: 20px;
    color: rgba(254, 255, 255, 0.754);
}
.button{
    font-size: 20px;
    color: #005FAC;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.977);
    border: 5px solid white;
    box-shadow: 5px 5px 5px rgba(227, 216, 216, 0.664);
    border-radius: 10px;
    margin-top: 20px;
}

/*--My failures section css start--*/

.failures{
    margin: 200px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.failures-text{
    padding: 70px;
    margin: 100px 100px 0 100px;
}
.failures-text h1{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 20px;
}
.failures-des{
    font-size: 18px;
    color: #444343;
    margin-bottom: 20px;
    line-height: 25px;
}
.icon-text li{
    color: #444343;
    list-style: none;
    line-height: 30px;
}
.icon-text li img{
    width: 20px;
    height: auto;
    margin-right: 5px;
}

/*--My Plan css start--*/

.my-plans{
    margin: 200px 200px;
    background-color: rgb(244, 240, 240);
    border-radius: 10px;
    padding: 10px;
}
.my-plans-title{
    font-size: 40px;
    margin: 35px 0;
    text-align: center;
}
.all-plan{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.single-plan{
    padding: 20px;
    text-align: center;

}
.single-plan h1{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin: 10px 0;
}
.single-plan p{
    font-size: 18px;
    font-weight: 700;
    color: #737272;
    margin: 10px 0;
}

/*--Awlyes keep css --*/

.awlays-keep{
    margin: 130px 300px;
    background: url(images/watch.png), linear-gradient(90deg, rgba(3,139,250,1) 0%, rgba(188,0,255,1) 100%);
    opacity: .9;
    background-blend-mode: multiply;
    background-size: cover;
    width: 1140px;
    height: 300px;
    position: relative;
    border-radius: 10px;
}
.text-btn{
    position: absolute;
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 60px 700px 50px  60px;
}
.text-btn h1{
    font-size: 40px;
    font-weight: 700;
    color: white;
}

/* --Footer css start-- */

.footer{
    background: #151414;
}

.footer-container{
    margin: 100px 200px 50px;
    display: flex;
    padding: 100px;
    
}
.future-left{
  margin-right: 400px;
}
.future-left h1 {
    color: #F8F8F8;
    font-size: 45px;
    margin: 10px 0;
   font-weight: 700;
}
.future-left p{
    color: #F8F8F8;
    font-size: 17px;
    margin: 10px 0;
    line-height: 25px;
}
.social{
    margin: 20px 0;
}
.social ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

.suscribe-right{
    padding: 20px;
    margin-right: 20px;
}
.suscribe-right h1 {
    color: #F8F8F8;
    font-size: 40px;
    margin: 10px 0;
   font-weight: 700;
}

.footer-btn{
    font-size: 20px;
    color: white;
    padding: 10px;
    background: #005FAC;
    border: 5px solid #005eaaa6;
    box-shadow: 5px 5px 5px rgba(227, 216, 216, 0.664);
    border-radius: 10px;
    margin-top: 20px;
}
.email{
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

/* --Other Section css  -- */
.all-project{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 20px;
}
.single-project{
    border: 5px solid rgb(248, 247, 247);
    box-shadow: 5px 5px 5px rgb(224, 211, 211);
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(246, 244, 242);
}
.other-project{
    margin: 200px 250px;
    background-color: rgb(243, 238, 238);
    padding: 10px;
    border-radius: 10px;
}
.file-github-link{
    display: flex;
    justify-content: space-between;
}
.file-github-link img{
    width: 40px;
    height: 40px;
}
.right-icon{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.file-github-link{
    margin: 20px 5px;
}
.porject-title{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 5px;
}
.project-description{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 5px;
}